.block {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 1rem;

  .tag {
    cursor: pointer;
  }

  /* .tag {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  } */
}
